/* so it does not effect a width of elements when adding padding or border etc. */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #ad75c4;
  --primary-dark-color: #8d5aa2;

  --white-100: #f5f5f5;

  --gray-100: #e2e2e2;
  --gray-300: #c0c0c0;

  --gray-600: #696969;
  --gray-800: #414141;
  --gray-999: #181818;
  --shadow-opacity-100: rgba(38, 36, 36, 0.1);
  --shadow-opacity-200: rgba(38, 36, 36, 0.2);
  --shadow-opacity-400: rgba(38, 36, 36, 0.4);
  --shadow-opacity-600: rgba(38, 36, 36, 0.6);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  height: 100vh;
}

.phone-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 800px;
  font-size: 16px;
  letter-spacing: 1px;

  /* overflow: hidden; */
  box-shadow: 1px 3px 10px var(--shadow-opacity-200);
}

.contact-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 100%;

  background-color: var(--gray-999);
  z-index: 10;
}

.contact-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;

  margin: 10px;
}

.contact-name {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--white-100);

  margin-left: 20px;
}

.message-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: justify;

  padding-top: 100px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;

  overflow-y: auto;
  overflow-x: hidden;
}

.message {
  display: flex;
  flex-direction: column;

  color: var(--white-100);
}

.text-block {
  position: relative;
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);

  min-width: min-content;
  max-width: 80%;
  padding: 5px;
  margin: 10px;
}

.text-block::before,
.text-block::after {
  content: '';
  position: absolute;
  right: -10px;
  top: calc(50% - 8px);
  height: 18px;
  width: 18px;

  transform: rotate(45deg);
  z-index: -2;
}

.message.right .text-block::before {
  border-right: 8px solid var(--primary-color);
  border-top: 8px solid var(--primary-color);
}

.message.left .text-block::before {
  left: -10px;
  top: calc(50% - 8px);

  border-left: 8px solid var(--white-100);
  border-bottom: 8px solid var(--white-100);
}

.message.left .text-block::after {
  top: calc(50% - 8px);
  left: -6px;

  border-left: 8px solid white;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;

  z-index: 0;
}

.text {
  display: inline-block;
  line-height: 22px;
}

.message.right {
  align-items: flex-end;
}

.message.left {
  align-items: flex-start;
}
.message.left .text-block {
  border: 3px solid var(--white-100);
  background-color: white;
  color: var(--gray-999);
}

.timestamp {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 14px;
  height: max-content;
  color: var(--gray-300);
}

.message.right .timestamp {
  color: var(--gray-800);
}

.date {
  margin-right: 10px;
}

.input-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: max-content;
  background-color: white;

  padding: 10px;
}

#input {
  overflow: scroll;
  overflow-x: auto;

  resize: none;
  min-height: 45px;
  border: none;
  border-bottom: 2px solid transparent;

  font-size: 16px;
  font-family: inherit;
  color: var(--gray-999);
  line-height: 18px;
  letter-spacing: inherit;

  background-color: var(--white-100);
  padding: 13px 10px 12px;
  margin-right: 10px;
  width: 80%;
  caret-color: var(--primary-color);
}

#input:focus,
#input:hover {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.input-container .btn {
  background-color: var(--primary-color);
  color: var(--white-100);
  text-transform: uppercase;
  letter-spacing: inherit;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-bottom: 2px solid transparent;

  min-height: 45px;
  padding: 10px;
  width: 20%;
  cursor: pointer;
}

.input-container .btn:hover {
  background-color: var(--primary-dark-color);
}
